[submodule "sites/all/modules/git_deploy"]
	path = sites/all/modules/git_deploy
	url = git://git.drupal.org/project/git_deploy.git
[submodule "sites/all/themes/bootstrap"]
	path = sites/all/themes/bootstrap
	url = git://git.drupal.org/project/bootstrap.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupal.org/project/views.git
[submodule "sites/all/modules/jquery_update"]
	path = sites/all/modules/jquery_update
	url = git://git.drupal.org/project/jquery_update.git
[submodule "sites/all/themes/magic"]
	path = sites/all/themes/magic
	url = https://github.com/syooo/magic.git
